@charset "UTF-8";

/*Mobile First*/
* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100vh;
}
body {
  background: black url(../pacote-imagens-cap25/imagens/back-phone.jpg)
    no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}
header {
  background-color: rgba(255, 255, 255, 0.774);
}
i#burger {
  display: block;
  text-align: center;
  padding: 20px;
}
i#burger:hover {
  cursor: pointer;
  color: white;
  text-shadow: 1px 1px 1px black;
  transition: 0.5s;
}
menu#itens {
  display: none;
}
menu ul li {
  list-style-type: none;
}
menu ul li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 1px black;
  border-top: 2px solid black;
}
menu ul li a:hover {
  color: black;
  text-shadow: 1px 1px 1px white;
  transition: 0.5s;
}
main div.content {
  background-color: rgba(255, 255, 255, 0.774);
  width: 90vw;
  margin: auto;
  margin-top: 20px;
  border-radius: 10px;
  padding: 10px;
}
h1 {
  color: white;
  text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.65);
  text-align: center;
}
img.platform {
  display: none;
  margin: auto;
}
img#smartphone {
  display: block;
}
